# PostgreSQL
psycopg2-binary

# MySQL / MariaDB
mysqlclient
pymysql

# Microsoft SQL Server
pymssql

# Snowflake
snowflake-sqlalchemy

# Google BigQuery
pybigquery

# Amazon Redshift
sqlalchemy-redshift

# ClickHouse
clickhouse-driver
clickhouse-sqlalchemy